.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
.modal-child {
    border-radius: 10px;
    position: absolute;
    max-height: 80%;
    min-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #c6f0ee;
    overflow: auto !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.scroll-lock {
    overflow: hidden;
    margin-right: 17px;
}

/* .scroll-fix {
    overflow: scroll;
} */

.color-blue {
    /* background-color: #91ebe8; */
    padding: 10px;
}

.show-body {
    padding: 20px;
}

.show-body > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid white;
}

.show-body > div > div:last-child {
    font-weight: 600;
}